* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #cfb53b;
}
li {
  list-style: none;
}

/* navbar  */
header {
  background-color: #303030;
  padding: 0.5rem 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* end-navbar  */

/* hero */
.hero {
  background: radial-gradient(circle, #c5b358, #d4af37);
  padding: 6rem 4rem 4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero h1 {
  font-size: 2rem;
  text-align: center;
}
.hero p {
  font-size: 1rem;
  text-align: center;
}

.hero select {
  border: 1px solid black;
  border-radius: 4px;
  width: 6rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.hero input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.hero label {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 6rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
/* end-hero */

/* productos */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 1rem;
  padding: 2rem;
}
.resultado-productos {
  background: radial-gradient(circle, #c5b358, #d4af37);
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  height: 14rem;
  padding: 1rem;
  text-align: center;
}
.resultado-productos img {
  object-fit: cover;
  width: fit-content;
  height: 50%;
}
.resultado-productos button {
  border: 1px solid black;
  border-radius: 4px;
  width: 6rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}
/* productos */

/* footer */
footer {
  display: flex;
  justify-content: center;
  background-color: #303030;
  color: #cfb53b;
}
/* end-footer */
